
# specific directories / files
/packer/build/
/packer/packer_cache/
/packer/templates/
/packer/resources/venv/
/vagrant/.vagrant/

/ansible/ssh_config
/ansible/inventory.ini

# types of files
_rel/
*.swp
.DS_Store



